In [2]:
import pandas
df=pandas.read_csv('coffee-and-sleep')
print(df)

   day of the week  Coffee in ml  sleep in hours
0              1.0          20.0            89.0
1              2.0          30.0            75.0
2              3.0          45.0            65.0
3              4.0          50.0            40.0
4              5.0          60.0            20.0
5              6.0          80.0            10.0
6              NaN           NaN             NaN
7              NaN           NaN             NaN
8              NaN           NaN             NaN

In [3]:
df.corr(method="pearson")

                 day of the week  Coffee in ml  sleep in hours
day of the week         1.000000      0.987114       -0.991727
Coffee in ml            0.987114      1.000000       -0.963061
sleep in hours         -0.991727     -0.963061        1.000000