In [4]:
import pandas as pd
df=pd.read_csv('data-tv.csv')
print(df)

   Size of TV  Average time spent watching TV in a week (hours)
0          12                                                36
1          15                                                48
2          17                                                24
3          18                                                12
4          21                                                34
5          24                                                39
6          30                                                14
7          36                                                26
8          42                                                32

In [5]:
df.corr(method='pearson')

,Size of TV,Average time spent watching TV in a week (hours)
Size of TV,1.000000,-0.215965
Average time spent watching TV in a week (hours),-0.215965,1.000000